# Byte-compiled files
**/__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# Ignore database
*.sqlite3
*.db
*.db-shm
*.db-wal
.vscode
.env
*.env
*.pyc
*.pyo
*.pyd

# Ignore logs and cache
*.log
*.cache
.coverage