name: CI/CD Pipeline

on:
  push:
    branches:
      - main  # Change this if your main branch has a different name
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4  # Updated to the latest version compatible with Node.js 20

    - name: Set up Python
      uses: actions/setup-python@v5  # Updated to the latest version compatible with Node.js 20
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt

    - name: Build Docker image
      run: |
        docker build --build-arg RUN_TESTS=true -t pv-fastapi-async-crud:v0.7 .

    - name: Run tests
      run: |
        docker run --rm pv-fastapi-async-crud:v0.7

    - name: Log in to Docker Hub
      uses: docker/login-action@v2  # Already compatible with Node.js 20
      with:
        username: palakornv
        password: ${{ secrets.DOCKER_HUB_TOKEN }}

    - name: Build and push Docker image
      run: |
        docker tag pv-fastapi-async-crud:v0.7 palakornv/pv-fastapi-async-crud:v0.7
        docker push palakornv/pv-fastapi-async-crud:v0.7
